.App-header {
  background-color: #97b0de;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
}

.App-nav {
  color: #0a0f11;
  display: flex;
  list-style: none;
  padding-left: 5%;
  padding-right: 5%;
}

li {
  margin-right: 40%;
}

.Cart-Icon {
  display: flex;
  flex-direction: row;
  padding-right: 5%;
}
